:root{
    --primary-color:#70BAFF;
    --border-color:#000;
    --wrapper-color:#fff;
    --secondary-color:#2786cf;


}
@font-face {font-family: "Mabry Pro Medium"; src: url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.eot"); src: url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.woff2") format("woff2"),
     url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.woff") format("woff"), 
     url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.svg#Mabry Pro Medium") format("svg"); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mabry Pro Premium", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:var(--primary-color);
}
.wrapper{
    height: 275px;
    width: 300px;
    background-color: var(--wrapper-color);
    padding: 25px 35px;
    border-radius: 5px;

}
.wrapper form{
    height: 225px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
form img{
    display: none;
    max-width: 150px;
}
form .content{
    /* display: none; */
}
form .content i{
    cursor: pointer;
    font-size: 55px;
}
form .content p{
    margin-top: 15px;
}
.wrapper .details{
    margin-top: 20px;
    opacity: 0;
    pointer-events: none;
    
}
.wrapper .details textarea{
    width: 100%;
    height: 150px;
    padding: 15px 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--border-color);
    font-size: 15px;
    resize: none;
}
.details .btns{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.btns button{
    padding: 10px 0;
    width: calc(100% / 2 - 10px);
    background-color: var(--secondary-color);
    outline: none;
    border: transparent;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    
}
